<h3>{{about.title}}</h3>
<div class="about-container">    
    <div class="about-container__img" >
        <img src="{{about.img.src}}" alt="{{about.img.alt}}">
    </div>
    <div class="about-container__parag" >
        <p>Supercars was started by Andrés Vázquez in 2022. He put one of the first
            automotive pages on what was, at the time, a very spacious world wide web. In late 2015, a small team of dedicated
             “car nuts” took over and will hopefully continue to grow the community. <br><br>
     
           Since its inception, Supercars.net has offered complete coverage of international sports cars,
           from classic cars, unique car concepts that wowed us, hypercars that made us dream and to everything in between. The mission is to
           deliver this automotive information in a concise, organized and engaging manner at no cost to users.<br><br>
           
           Supercars.net is built for the automotive enthusiast and sports car fan in mind. Obsessively covering the auto
           industry with the latest news, new car reviews, videos, high-quality photography and all other amazing things car-related.
           Supercars.net is your source for all things automotive.<br><br>
           
           We couldn’t care less what lap time cars can do at the Nurburgring, or how much they weighs, or whether there are
           those who will typecast its driver. We want cars that are joyous to drive, purely for the sake of driving. We want
           escapism that if were brutally honest, probably won’t be possible much longer. For us, it is about an enjoyment,
           excitement and fascination with cars that deliver unique and precious driving experiences.<br><br>
           
           Besides our website we also actively share content on social media and engage our fans to maintain an exceptional
           high level of engagement. Our key social networks include Facebook, Instagram and Pinterest.<br><br>
           
           Supercars.net is part of the A07 Online Media automotive network, a collection of niche communities in the
           automotive and motorcycle space. If you are looking to reach passionate fans, then feel free to reach out about
           partnership opportunities.<br><br>
           
           Contact us about partnerships, advertising or even becoming a contributor. If you want to submit a car, event or
           other article, just fill out our submission page. If you’re looking to reach our engaged readers, check out our advertising options.</p>
    </div>   
    
</div>