@import '../../../styles.scss';

h3 {
    text-align: center;
    margin: 50px 0px 30px;
    font-size: 24px;

    @include desktop {

        margin: 50px;
    }
}

.about-container {
    width: 99vw;
    margin: 0 auto;

    .about-container__img {


        @include desktop {
                        
            width: 100%;            
        }
        
        img {
            width: 100%;
        }        
    }


    .about-container__parag {
        width: 90vw;
        margin: 50px auto;        

        @include desktop {
            
            width: 50vw;
            margin: 50px auto;

        }

        p{
            text-align: left;
            font-size: 18px;
            line-height: 1.7rem;

            @include desktop {

                text-align: left;

            }

        }
    }
}