@import '../../../../styles.scss';

.footer-container {     
    
    height: 100px;
    background: $black ;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        color: whitesmoke;
    }
}