@import '../../../../styles.scss';

.footer-container {     
    
    height: 100px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    p {
        color: whitesmoke;
        font-size: 12px;
    }

    @include desktop {

        p {
            font-size: 14px;
        }
    }
}